<div *ngIf="auth.user">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card hovercard">
          <div class="cardheader"></div>
          <div class="avatar">
            <img alt="User photo" src="{{ auth.user?.photo }}">
          </div>
          <div class="info">
            <div class="title">
              <a > {{ auth.user.username}}</a>
            </div>
          </div>
        </div>
        <div id="collection">
          <h3>Your guitars:</h3>
          <div *ngFor="let guitar of guitarList" class="guitar col-md-4">
            <h4>{{ guitar.trade }} - "{{ guitar.model }}"</h4>
            <img src="{{guitar.photo}}" alt="guitar">
            <a [routerLink]="['/guitar', guitar._id]"><button class="btn btn-lg btn-link">View Details</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
