.logo, .links {
  margin-top: 40px;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

.logo img {
  margin-top: 40px;
}

.links ul {
  width:100%;
  margin-top: 2%;
}

.links li {
  background-color: black;
  width: 20%;
  border-radius: 10px;
  font-size: 0.8em;
  list-style: none;
  margin: auto 5%;
  display:inline-block;
}

.links a{
  color: white;
  text-decoration: none;
}

h2{
  margin: 10px auto;
}
