.logo, .links {
  text-align: center;
}

.links ul {
  background-color: black;
  width: 35%;
  margin-left: 30%;
  border-radius: 10px;
}

.links li {
  list-style: none;
  margin: auto 15%;
  display: inline-block;
}

.links a{
  color: white;
  text-decoration: none;
}
