<!--The content below is only a placeholder and can be replaced.-->
<div class="logo">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Guitar Logo" src="https://vignette.wikia.nocookie.net/irlsao/images/3/39/SAOR_symbol.jpg/revision/latest?cb=20140714205857">
</div>
<br><br>
<div class="links">
  <h2>What would you like to do? </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="#">Sign up</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="#">Login in</a></h2>
    </li>
  </ul>
</div>
