form {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

button {
  font-family: 'Rock Salt', cursive;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 15px;
}
