<div *ngIf="auth.user" class="profile">
  <div class="pic">
    <img src="{{ auth.user?.photo }}" alt="User photo">
  </div>

  <div class="hi">
    <h2>Hello {{ auth.user.username}}</h2>
  </div>

  <div class="lastSongs">
    <h3>This are the last songs you've been working on:</h3>
  </div>

  <ul *ngFor="let song of songList">
    <li>
      {{ song.artist}} - {{ song.name }}
      <a [routerLink]="['/song', song._id]">View Song</a>
      <a [routerLink]="['/']">Listen</a>
    </li>
  </ul>

  <a [routerLink]="['/newSong']">Add a new song</a><br>
  <a [routerLink]="['/songCollection']">View all your songs</a><br>
  <a [routerLink]="['/newGuitar']">Add a new guitar</a><br>
  <a [routerLink]="['/guitarCollection']">View all your guitars</a><br>
  <a [routerLink]="['/newAmpli']">Add a new ampli</a><br>
  <a [routerLink]="['/ampliCollection']">View all your amplis</a><br>
  <button (click)="logout()">Logout </button>
</div>
