<form *ngIf="!tab">
  <h2> Add a New song to your collection: </h2>
  <label> Artist: </label>
  <input type="text" [(ngModel)]="formInfo.artist" name="artist"/>
  <label> Title: </label>
  <input type="text" [(ngModel)]="formInfo.name" name="name"/>
  <br>
  <button (click)="create()"> CREATE </button>
  <button (click)="search()"> IMPORT </button>
</form>
<!-- Se hace con modals -->

<form *ngIf="tab">
  <h2>{{ tab.artist }} - {{ tab.name }}:</h2>
  <textarea [(ngModel)]="tab.tab" name="tablature" rows="200" cols="100"></textarea>
  {{ tab | json }}
<a [routerLink]="['/profile']">Go back</a>
