<form *ngIf="!tab">
  <h2> Add a New song to your collection: </h2>
  <label> Artist: </label>
  <input type="text" [(ngModel)]="formInfo.artist" name="artist"/>
  <label> Title: </label>
  <input type="text" [(ngModel)]="formInfo.name" name="name"/>
  <br>
  <button (click)="create()"> CREATE </button>
  <button (click)="search()"> IMPORT </button>
</form>
<!-- Se hace con modals -->
<div *ngIf="tab">
  <h2>{{ tab.artist }} - {{ tab.name }}</h2>
  <div [innerHtml]="tab.tab"></div>
<a [routerLink]="['/profile']">Go back</a>
