<div *ngIf="auth.user" class="songList">
  <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <div class="form-group">
      <label> Trade: </label>
      <input class="form-control" type="text" name="trade" [(ngModel)]="trade" required />
    </div>
    <br>
    <div class="form-group">
      <label> Model: </label>
      <input class="form-control" type="text" name="model" [(ngModel)]="model" required />
    </div>
    <br>
    <div class="form-group">
      <label>Type:</label>
      <select name="type" class="" [(ngModel)]="type" class="form-control">
        <option *ngFor="let type of pedType" value={{type}}>{{type}}</option>
      </select>
    </div>
    <br>
      <label>Settings:</label><br>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Bases" value="Bases" ngModel/>Bases</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Blend" value="Blend" ngModel/>Blend</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Comp" value="Comp" ngModel/>Comp</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Delay" value="Delay" ngModel/>Delay</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Decay" value="Decay" ngModel/>Decay</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Depth" value="Depth" ngModel/>Depth</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Drive" value="Drive" ngModel/>Drive</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Feedback" value="Feedback" ngModel/>Feedback</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Gate" value="Gate" ngModel/>Gate</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Level" value="Level" ngModel/>Level</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Mode" value="Mode" ngModel/>Mode</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Rate" value="Rate" ngModel/>Rate</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Shape" value="Shape" ngModel/>Shape</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Speed" value="Speed" ngModel/>Speed</label><br>
        </div>
      </div>
      <div id="container">
        <div style="float: left">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Treble" value="Treble" ngModel/>Treble</label><br>
        </div>
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Tone" value="Tone" ngModel/>Tone</label><br>
        </div>
      </div>
      <div id="cont">
        <div style="float: none">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" name="Volume/Gain" value="Volume/Gain" ngModel/>Volume/Gain</label><br>
        </div>
      </div>
    <button type="submit"> CREATE </button>
    <a [routerLink]="['/profile']">CANCEL</a>
  </form>
</div>
