<div *ngIf="auth.user" class="songList">
  <div class="pic">
    <img src="{{ auth.user?.photo }}" alt="User photo">
  </div>

  <div class="h1">
    <h2>{{ auth.user.username}}</h2>
  </div>

  <div class="songCollection">
    <h3>Your songs:</h3>
  </div>

  <ul *ngFor="let song of songList">
    <li>
      {{ song.artist}} - "{{ song.name }}"
      <a [routerLink]="['/']">View Song</a> -
      <a [routerLink]="['/']">Edit Song</a> -
      <a [routerLink]="['/']">Edit Tab</a> -
      <a [routerLink]="['/']">Listen</a>
    </li>
  </ul>

  <a [routerLink]="['/newSong']">Add a new song</a><br>
  <a [routerLink]="['/profile']">Go back</a>
</div>
